{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/brace-style": ["off", "1tbs"],
    "@typescript-eslint/indent": ["off", 4],
    "@typescript-eslint/no-parameter-properties": "off",
    "prettier/prettier": "warn",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "off",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-empty-interface": "warn"
  }
}
